<!DOCTYPE html>
<html>
<head>
  <body style="background-color:powderblue;"></body>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Hybrid restaurant recommender</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/styles.css" rel="stylesheet" >
</head>
<body>
  <h1 class="hello" >Welcome to hybrid restaurant recommender</h1>
  <h1 class="hello1">Top 10 Restaurants</h1>
  <ul class="hello2">
    {% for restaurant in restaurants %}
      <li>{{ restaurant }}</li>
    {% endfor %}
  </ul>
</body>
</html>